* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar {
    padding: 25px 25px;
    background-color: blue;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-section-1 {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
}

.logo-header {
    width: 15%;
    text-justify: initial;
}

.login-button-header {
    width: 15%;
    text-align: center;
    border-radius: 50px;
}

.linkbar {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}
li{
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
    border: dotted red;
    display: flex;
    justify-content: center;
}

.section {
    padding: 25px 25px;
    display: flex;
    justify-content: center;

}

.bg-blue {
    background-color: blue;
}

.bg-grey {
    background-color: lightgrey;
}

.bg-pink {
    background-color: pink;
}

.double-height {
    height: 500px;
}

.bg-green {
    background-color: green;
}

.footer {
    background-color: black;
    padding: 10px 25px 0 25px;
    flex-direction: column;
}


.container-footer {
    display: flex;
    width: 100%;
    height: 250px;
}

.square-1 {
    flex: 1;
    display: flex;
    border: 1px white dotted;
}

.square-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;

}

.bg-salmon {
    background-color: salmon;
}

.bg-aqua {
    background-color: aqua;
}

.separator {
    width: 100%;
    background-color: white;
    margin: 25px 0;
}

.footer-bar {
    padding: 25px 0;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.border-dotted-black {
    border: dotted black;
    background-color: violet;
}

/* DEBUG */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-size: cover; 
   background-repeat: no-repeat;
   min-height: 400px;
   
}

h2 {
    color: white;
}
h4{
    color: white;
    display: flex;
    margin-top: 40px;    
}
h3{
    text-align: center;
}
h5{
    text-align: center;
}

.primo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    
}
.download-btn-hero{
    border-radius: 50px;
    text-align: center;
    
}
.open-btn-hero{
    border-radius: 50px;
    background-color: black;
    color: white;
    margin: 0 auto;
    
}
.button-hero{
    display: flex;
    justify-content: space-between;
}
